ScrollableContainer #command_list{
    overflow: auto;
    align: center top;
}

ListView {
    width: 100%;
    height: auto;
    margin: 1 1;
}

ScrollableContainer Label {
    padding: 1 1;
}

OutputLabel {
    padding: 1 1;
    text-align: left;
}

.hidden {
    display: none;
}

ConfirmationScreen {
    align: center middle;
    height: 10;
    content-align: center middle;
}

#confirmation_grid {
    grid-size: 1 ;
    grid-gutter: 1 1;
    grid-rows: 1fr 1fr;
    padding: 0 1;
    width: 50;
    height: 10;
    border: thick $background 80%;
    background: $surface;
    /* align: center top; */
}

#question {
    /* column-span: 1; */
    height: 1fr;
    width: 1fr;
    content-align: center middle;
}